extends layout

block content
  h1= title
  a(href="/", class='btn btn-danger') Regresar

  div
    table(class='table')
      thead 
        tr
          th Placa
          th Tipo 
          th Hora entrada
          th Hora salida
      tbody
        each document in documentos 
          tr 
            td= document.placa 
            if document.tipo
              td Carro 
            else 
              td Moto
            td= document.fecha_entrada
            td= document.fecha_salida