extends layout

block content
  .barra-superior
    h1= "Parking UR"

  //Enlace atras
  .enlace
    a(href="/")   
      c.btn.btn-atras(class='btn btn-primary') « 
      form(action="/entrada", method="post", id="formulario") 

  .tabla-Thistorial
    table.tabla-redondeada4
      thead 
        tr 
          th(colspan="6") Historial

      tbody 
        tr 
          td(colspan="6")&emsp;
        tr
          th Placa
          th Dueño
          th Tipo
          th Piso 
          th Ingreso
          th Salida
        
        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;

        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;

        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;

        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;

        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;

        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;

        tr
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;
          td&emsp;