:root{
  --color-fondo: #FFF5E1;
  --color-titulo: #FFFFFF;
  --color-fondo-titulo: #C80036;
  --color-boton1: #C80036;
  --color-boton2: #0C1844;
  --color-boton3: #FF6969;
  --color-boton4: #C80036;   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: var(--color-fondo);
  color: var(--color-titulo);   
  font-family: "Inter", sans-serif;
  font-size: 20px;
  
}

/* Fondo de titulo */
.barra-superior {
  background-color: var(--color-fondo-titulo);
  padding: 20px;
}

.barra-superior h1 {
  color: var(--color-titulo);
  font-size: 3em;
  font-weight: bolder;
  text-align: left;
  margin-left: 1px;
}

.enlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.btn{
  display: flex;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  justify-content: space-between;
  cursor: pointer;
}

a.btn:hover{
  transform: scale(1.005);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.moto {
  align-items: end;
  width: 320px;
  height: 305px;
  margin-left: 20px;
  margin-bottom: -30px;
}

.moto_entrada{
  position: relative;
  width: 200px;
  height: 170px;
  top: -105px;
  right: -470px;
  pointer-events: none;
}

.carro {
  align-items: end;
  width: 300px;
  height: 260px;
  margin-left: 0px;
  margin-bottom: -5px;
}

.carro_entrada{
  position: relative;
  width: 250px;
  height: 250px;
  top: -60px;
  left: 165px;
  pointer-events: none;
}

.lista {
  align-items: end;
  width: 250px;
  height: 260px;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: -5px;
}

.btn-enter {
  background-color: var(--color-boton1);
  color: white;
  position: absolute;
  font-size: 2.5em;
  justify-content: flex-end;
  align-items: flex-end;
  top: 20%;
  left: 22%;
  padding: 20px;
  width: 525px;
  height: 292px;
}

.enlaces .btn-enter {
  padding-right: 25px;
}

.btn-exit {
  background-color: var(--color-boton2);
  color: white;
  position: absolute;
  font-size: 2.5em;
  justify-content: flex-end;
  align-items: flex-end;
  top: 20%;
  right: 22%;
  width: 525px;
  height: 291px;
}

.enlaces .btn-exit {
  padding-right: 25px;
  padding-bottom: 20px;
}

.btn-list {
  background-color: var(--color-boton3);
  color: white;
  position: absolute;
  font-size: 2.5em;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 19%;
  padding: 20px;
  width: 525px;
  height: 292px;
}



.btn-history {
  background-color: var(--color-boton4);
  color: white;
  position: fixed;
  font-size: 2em;
  padding: 10px;
  width: 200px;
  bottom: 20px;
  right: 20px;
}

.enlaces .btn-history {
  padding-left: 23px;
}

.logo {
  position: fixed;
  width: 150px;
  height: 120px;
  bottom: 20px;
  left: 20px;
}

.tablas-contenedor{
  display: flex; 
  margin-top: -20px; 
  left: 30px;
  padding: 20px;
}

.table-Tentrada{
  display:inline-table;
  padding: 20px;
}

.table-pisos{
  display: inline-table;
  justify-content: right;
  padding: 20px;
}

table.tabla-redond{
  border-collapse: separate;
  border-spacing: 0;
  margin-right: 100px;
  margin-top: 50px;
  width: 384px;
  height: 700px;
  border: 1px solid var(--color-fondo-titulo);
  border-radius: 15px;
  overflow: hidden;
}

table.tabla-redondeada{
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 100px;
  margin-top: 50px;
  width: 1200px;
  height: 700px;
  border: 1px solid var(--color-fondo-titulo);
  border-radius: 15px;
  overflow: hidden;
}

table.tabla-redondeada2{
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 100px;
  margin-top: 50px;
  width: 1670px;
  height: 700px;
  border: 1px solid var(--color-fondo-titulo);
  border-radius: 15px;
  overflow: hidden;
}

.tabla-Tsalida th, .tabla-Tsalida td{
  border: 1px solid var(--color-fondo-titulo);
}

.tabla-Tsalida th:nth-child(1) { width: 10%; } 
.tabla-Tsalida th:nth-child(2) { width: 40%; } 
.tabla-Tsalida th:nth-child(3) { width: 10; } 
.tabla-Tsalida th:nth-child(4) { width: 10%; } 
.tabla-Tsalida th:nth-child(5) { width: 15%; } 
.tabla-Tsalida th:nth-child(6) { width: 15%; } 

table.tabla-redondeada3{
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 100px;
  margin-top: 50px;
  width: 1670px;
  height: 700px;
  border: 1px solid var(--color-fondo-titulo);
  border-radius: 15px;
  overflow: hidden;
}

.tabla-Tlista th, .tabla-Tlista td{
  border: 1px solid var(--color-fondo-titulo);
}

.tabla-Tlista th:nth-child(1) { width: 10%; } 
.tabla-Tlista th:nth-child(2) { width: 40%; } 
.tabla-Tlista th:nth-child(3) { width: 10; } 
.tabla-Tlista th:nth-child(4) { width: 20%; } 
.tabla-Tlista th:nth-child(5) { width: 20%; } 

table.tabla-redondeada4{
  border-collapse: separate;
  border-spacing: 0;
  margin-left: 100px;
  margin-top: 50px;
  width: 1670px;
  height: 700px;
  border: 1px solid var(--color-fondo-titulo);
  border-radius: 15px;
  overflow: hidden;
}

.tabla-Thistorial th, .tabla-Thistorial td{
  border: 1px solid var(--color-fondo-titulo);
}

.tabla-Thistorial th:nth-child(1) { width: 10%; } 
.tabla-Thistorial th:nth-child(2) { width: 40%; } 
.tabla-Thistorial th:nth-child(3) { width: 10; } 
.tabla-Thistorial th:nth-child(4) { width: 10%; } 
.tabla-Thistorial th:nth-child(5) { width: 15%; } 
.tabla-Thistorial th:nth-child(6) { width: 15%; } 

th, td{
  padding: 15px;
}

th{
  background-color: var(--color-fondo-titulo);
  font-weight: bold;
  font-size: 3em;
}

td{
  background-color: var(--color-fondo);
}

b.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  justify-content: space-between;
  cursor: pointer;
}

b.btn:hover{
  transform: scale(1.005);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

b.btn.seleccionado{
  border: 3px solid black;
}

.btn-car{
  background-color: #FF6969;
  color: white;
  position: absolute;
  font-size: 2.5em;
  justify-content: flex-end;
  align-items: flex-end;
  top: 330px;
  left: 250px;
  padding: 20px;
  width: 400px;
  height: 200px;
}

.btn-bike {
  background-color: #FF6969;
  color: white;
  position: absolute;
  font-size: 2.5em;
  justify-content: flex-end;
  align-items: flex-end;
  top: 330px;
  left: 785px;
  padding: 20px;
  width: 400px;
  height: 200px;
} 

.label-input-dueno{
  display: flex;
  gap: 10px;
  margin-top: -100px;
  justify-content: center;
}

.label-dueno{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}

#dueno-input{
  margin-top: 8px;
  width: 400px;
  height: 30px;
  border: none;
  background-color: var(--color-fondo);
  border-bottom: 2px solid black;
  font-size: 1.6em;
  outline: none;
}

.label-input-placa{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

#placa-input{
  margin-top: 8px;
  width: 200px;
  height: 30px;
  border: none;
  background-color: var(--color-fondo);
  border-bottom: 2px solid black;
  font-size: 1.6em;
  outline: none;
}

.label-placa{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}

.label-input-color{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

#color-input{
  margin-top: 8px;
  width: 200px;
  height: 30px;
  border: none;
  background-color: var(--color-fondo);
  border-bottom: 2px solid black;
  font-size: 1.6em;
  outline: none;
}

.label-color{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}

.label-select-piso{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.label-select-piso::after{
  content: '▲'; 
  position: absolute;
  margin-left: 180px;
  margin-top: 15px;
  font-size: 12px;
  color: #333;
  pointer-events: none; 
}

#piso-select{
  margin-top: 8px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: var(--color-fondo);
  border-bottom: 2px solid black;
  font-size: 1.4em;
  outline: none;
  appearance: none;
}

.label-piso{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}

.label-piso1{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-left: 30px;
}
.label-piso2{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}
.label-piso3{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}
.label-piso4{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}
.label-piso5{
  color: black;
  font-weight: bold;
  font-size: 1.8em;
  margin-right: 5px;
}

#btn-guardar {
  display: block; 
  margin-top: 15px;
  position: absolute;
  left: 665px;
  padding: 10px 20px; 
  background-color: var(--color-boton4);
  color: #fff; 
  border: none; 
  border-radius: 10px;
  font-size: 1.5em; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#btn-guardar:hover {
  background-color: #218838; 
}

.enlace{
  display: flex;
  align-items: center;
}

c.btn{
  position: absolute;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  top: 140px;
  left: 30px;
}

c.btn:hover{
  transform: scale(1.005);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-atras {
  background-color: var(--color-boton1);
  color: white;
  position: absolute;
  font-size: 2.0em;
  justify-content: center;
  align-items: center;
  padding: -5px;
  width: 50px;
  height: 50px;
}


/* Ventana modal */
#modal_container {
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3333335d;
  text-align: center;
  display: none;
}

#modal {
  border: 3px solid var(--color-boton4);
  border-radius: 15px;
  width: 30%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-fondo);
  color: black;
  text-align: center;
}

#modal p {
  margin-top: 3%;
}

#modal .btn button{
  background-color: var(--color-boton1);
  color: var(--color-titulo);
  border: none;
  font-size: 100%;
  border-radius: 15px;
  padding: 10px;
  margin: 10%;
}

#modal .btn button:hover {
  cursor: pointer;
}